<div>
    <form>
    <div class="form-group">
        <label for="inputAmount">Amount</label>
        <input type="number" class="form-control" id="inputAmount" placeholder="Enter amount">
    </div>
    <div class="form-group">
        <label for="inputPurpose">Purpose</label>
        <textarea class="form-control" rows="3" id="inputPurpose"></textarea>
    </div>
    <div class="form-group">
        <label for="inputPaymentPeriod">Payment Period(In days)</label>
        <input type="number" class="form-control" id="inputPaymentPeriod" placeholder="Payment period">
    </div>
     <div class="form-group">
     <label for="inputLoanType">Loan Type</label>
    <select name="inputLoanType" class="form-control"  title="Loan Type">
                <option value="black">Short Term</option>
                <option value="blue">Short</option>

            </select>
            </div>
    <div class="form-group">
        <label for="inputSecurityDetails">Security Details</label>
         <textarea class="form-control" rows="3" id="inputSecurityDetails"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Apply</button>
</form>
</div>


